" .ideavimrc is a configuration file for IdeaVim plugin. It uses
"   the same commands as the original .vimrc configuration.
" You can find a list of commands here: https://jb.gg/h38q75
" Find more examples here: https://jb.gg/share-ideavimrc

set highlightedyank
set number                        " Show current line number
set relativenumber                " Show relative line numbers
set hlsearch                      " highlight search occurrences
set ignorecase                    " ignore case in search patterns
set smartcase                     " no ignore case when pattern is uppercase
set incsearch                     " show search results while typing
set wrapscan                      " searches wrap around the end of the file
set gdefault                      " substitute all occurrences in line per default
set history=10000                 " keep x lines of command line history
set scrolloff=5 sidescrolloff=10  " keep some lines before and after the cursor visible
set clipboard=unnamedplus,unnamed,ideaput " integrate with system clipboard
set which-key
set commentary
set surround                      " emulate vim-surround plugin
set ideajoin
set ideawrite
set multiple-cursors

" leader key bindings
" set <leader> to <space>
let mapleader = " "

" Don't use Ex mode, use Q for formatting.
map Q gq

" stop highlight with escape
nnoremap <Esc> :nohlsearch<CR><Esc>

" Use Ctrl + hjkl to move between splits
nnoremap <C-h> <C-w>h
nnoremap <C-j> <C-w>j
nnoremap <C-k> <C-w>k
nnoremap <C-l> <C-w>l

" Editor actions
map <leader>h :action ShowHoverInfo<CR>
map <leader>qi <Action>(QuickImplementations)

map <leader>sf <Action>(GotoFile)

map <leader>d <Action>(Debug)
map <leader>b <Action>(ToggleLineBreakpoint)

map <leader>z <Action>(ToggleDistractionFreeMode)
map <leader>tp <Action>(ActivateProjectToolWindow)
map <leader>tt <Action>(ActivateTerminalToolWindow)
map <leader>tg <Action>(ActivateCommitToolWindow)

map <leader>rn <Action>(RenameElement)
map <leader>rf <Action>(ReformatCode)
